@charset "utf-8";
/* CSS Document by jacy use in vipcard */
body{ padding:0; margin:0; font-family:"微软雅黑", "黑体", "宋体";}
.body{background:#90150d;}
.container{ max-width:640px; min-width:320px; margin:0 auto;}
.scr_top>img{ width:100%;}
.area{ position:relative;}
.area img{ width:100%;}
.scratch_area{ position:absolute; top:40%; left:0; width:100%; min-height:100px;}
.prize_text{position: absolute;
height: 150px;
width: 301px;
font-size: 30px;
left: 50%;
margin-left: -150px;
text-align: center;
color:#bb400a; z-index:1;}
#scratch{width: 320px; margin: auto;}
.scratch_area canvas{z-index:10; position:absolute; left:50%; z-index:10}
.block_out{ border-radius:10px; background-color:#e3effb; margin:10px; padding:3px;}
.block_inner{ border:1px dashed #dc2804; border-radius:10px; background-color:#fff}
.block_inner h6{ border-top-left-radius:10px; border-top-right-radius:10px; background-color:#dc2804; color:#fff; line-height:30px; text-align:center}
.block_inner p{ padding:10px;}
.gift_list{ overflow:hidden; zoom:1}
.gift_list li{ float:left; width:50%; margin-bottom:10px; text-align:center}
.gift_list li p{ font-weight:bold; white-space:nowrap}
.gift_list li img{ width:80%;}
.gift_list li span{ display:block; text-align:center}
.gift_history li{ display:table; width:100%;border-bottom:1px dotted #eee}
.gift_history li span{ display:table-cell; font-size:12px; padding:5px; }
.gift_history li span.col_1{ width:55%}
.gift_history li span.col_2{ width:20%}
.gift_history li span.col_3{ width:25%}
.gift_history li:last-child{ border:none}
.block_inner .empty-tips{ padding:10px; text-align:center}
.block_inner .repeat_tips{ background-color:#f9f1c9; text-align:center; border-radius:20px; padding:10px; margin:20px;}
.ggk_01{}
.ggk_01>img{ width: 100%;}

.ggk_div{
    position: relative;
    left: 60px;
    top: 6px;
    margin: auto;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

}
/*联系方式*/
.append_div{
    display: none;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: gray;
}

.touch_us{
    width: 90%;
    display: none;
    position: fixed;
    top: 50%;

    z-index: 2000;
    margin: auto;
    /*
    display: none;
    */
}
.touch_us_01{
    position: relative;
    width: 100%;
}
.tu_font {
    /*font-family: "微软雅黑", "黑体", "宋体";*/
    background-color: white;
    left: 50%;
    margin: -60px -120px;
    position: absolute;

    top: 50%;
    width: 240px;
    line-height: 30px;
    font-size: 14px;
    text-indent: 2em;
    padding: 10px;;
    border-radius: 10px;
    box-shadow: 0 0 15px #333;
    letter-spacing: 2px;

}
.tu_font a {
    color: #00bfff;
}
.tu_01{
    line-height: 60px;
    text-align: center;
    text-indent: 0;
}
.tu_02{
    display: inline-block;
    line-height: 30px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5%;
    letter-spacing: 5px;
    text-align: center;
    text-indent: 0;
    margin: 0 10px;
    padding: 0 20px;
}
/*联系方式*/

h6{
    margin: 10px 0;
}
.ggk_table_father{
    height: 55px;
    overflow: hidden;
}
.ggk_table{
	width: 100%;

    margin-bottom: 10px;
}
.ggk_table td{
    letter-spacing: 2px;
    border-bottom: 1px dashed gray;
    font-size: 10px;
    line-height: 26px;
    color: #000;
}
.ggk_td_01{
    padding-left: 10px;
    width: 70%;
}
.ggk_td_02{
    text-align: center;
    width: 30%;
}



.ggk_btn{
    display:inline-block;
    margin: 10px;
    height: 30px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    line-height: 30px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: #dc2804;
}
.block_inner p{
    font-size: 10px;
    line-height: 16px;
    padding: 5px 10px;
    margin: 0;
}

.ggk_btn_more
,.ggk_btn_share{
    font-size: 12px;
    line-height: 16px;
    height: 18px;
}
.ggk_div_center{
    text-align: center;
}


.bg_gray{
    display: none;
    background-color: gray;
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1888;
}
.ggk_btn_close{
    display: block;
    margin: 10px auto;
}


.web-main { margin: 0 auto; max-width: 640px; background: #EAEAE8}

.web-header { position: relative; padding: 0 50px; height: 46px; background: #dc2804; background-size: 100%;}
.web-header .top-back { position: absolute; left: 0; top: 0; width: 50px; height: 46px; background: url(../images/icon_back.png) center center no-repeat; background-size: 11px; }
.web-header .top-back a { display: block; width: 100%; height: 100%}
.web-header .top-title { line-height: 46px; text-align: center; color: #fff}

.web-content { background: #EAEAE8}
.web-footer { background: #f5f5f5; color: #999; font-size: 14px;}

.b-title { padding: 0 15px; height: 30px; line-height: 30px; font-size: 14px; color: #888}
.b-box { padding: 15px 15px; border-top:1px solid #eee; border-bottom:1px solid #eee; /*background: #fff*/}
.b-box.form { padding: 0}
.gcode { position: relative; padding-right: 100px;}
.gcode .input-text { width: 100%}
.gcode .button { position: absolute; right: 0;}
.button-bar { padding: 10px 15px; ;}
.input-title { margin-bottom: 8px; font-weight: 700}
.form-item { position: relative; border-bottom: 1px solid #eee; min-height: 26px; padding: 12px 15px 10px 60px; clear: both; /*overflow: hidden;*/ line-height: 26px;}
.form-item.long { padding: 12px 15px 10px 15px; }
.form-item .input-label { position: absolute; left: 15px; top: 11px;}
.form-item .input-noborder { width: 100%; text-align: right}
.form-item .logistic{border-radius:0;border:1px solid #ccc; height:36px; line-height:36px; box-shadow:none; width:90%;padding:0 10px; text-align:left;}
.form-des { font-size: 14px; color: #999}
.form-item .input-date { padding-right: 20px; background: url(../images/icon_arr_right.png) right 6px no-repeat; background-size: 8px}
.form-item .f-text { line-height: 16px;}
.alink { margin-right:20px; display: block; background: url(../images/icon_arr_right.png) right 3px no-repeat; background-size: 11px;background-position:center right;}
.alink .text-right{ padding-right:10px;}
.form-item .check-box { display: none; width: 35px; height: 25px; background: url(../images/icon_ok.png) no-repeat; background-size: 35px; vertical-align: top}
.form-item .checkbox-input { display: none}
.form-item.on .check-box{ display: inline-block;}
.form-item .input-address { resize:none; height: 60px; overflow: auto;}
.form-item .no-letter { height: 25px;}

.button-bar { padding: 25px 15px; text-align: center;}
.button-bar .b-button { display: inline-block; margin: 0 5%; width: 38%;font-size:16px; height: 36px; line-height: 36px; background:#dc2804; border: none; color: #fff;}
a{text-decoration:none;}
/*beautify*/
.bg_gray{
	min-width: 320px;
}
.block_inner h6{
	background: url(../img/h_bg.jpg);
	border-radius: 0;
	line-height: 40px;
	font-size: 18px;
	letter-spacing: 4px;
	margin: 5px 0 10px;
}
.block_inner{
	border: none;
}
.block_out_bg
,.block_out{
	background: #02404d;
}
.block_out{
	margin: 0 10px 10px;
}
.block_out_bg{
	padding: 1px 0 8px;
}
.tu_font{
	padding:20px;
	left:0;
	margin: -60px 20px;
}
.block_inner p
,.ggk_table td{
	font-size: 12px;
	line-height: 18px;
}
.ggk_table_father{
	height: 40px;
}
.tu_font{
	text-indent: 0;
}
.tu_font h1{
	font-size: 16px;
	text-align: left;
	line-height: 30px;
	margin: 5px;
}
