<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<link href="{:ADDON_PUBLIC_PATH}/css/bootstrap.min.css" rel="stylesheet"/>
<link href="{:ADDON_PUBLIC_PATH}/css/public.css" type="text/css" rel="stylesheet" />
<link href="{:ADDON_PUBLIC_PATH}/css/habitus.css" rel="stylesheet">
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/jquery.min.js"></script>
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/jquery.cookie.js"></script>
<script src="{:ADDON_PUBLIC_PATH}/js/public.js" type="text/javascript"></script>
<script src="{:ADDON_PUBLIC_PATH}/js/habitus.js" type="text/javascript"></script>
<!--
    <link href='http://www.youziku.com/webfont/CSS/a552f22956cec9fccd18ffa5e4510d04' rel='stylesheet' type='text/css'/>
-->
<title>个人体质</title>
<style type="text/css">

</style>
</head>
<body>
    <div class="habitus">
        <div class="habitus_top">
            <a href="http://www.kmark.cn/gogoda/Static/survey/buy_now.html"><img class="q-top-return habitus_toggle" src="{:ADDON_PUBLIC_PATH}/img/questionary/questionary_04.png"></a>
            <img class="h_t_img" src="{:ADDON_PUBLIC_PATH}/img/questionary/questionary_01.png">
        </div>
    	<div class="mc_foot_02">
                <input class="mc_02_val" type="hidden">
                <h1 class="mc_02_h1">您的体质为<span class="mc_02_color mc_02_color_01"></span>体质</h1>
                <p class="mc_02_p1"></p>
                <p class="mc_02_p2"></p>
                <p class="mc_02_p3"><span class="mc_02_span"></span>&nbsp;<img class="mc_logo" src="{:ADDON_PUBLIC_PATH}/img/membercenter/logo.png"/></p>
        </div>

	</div>



</body>
</html>