@charset "utf-8";
/* CSS Document */

html,body{
	height: 100%;
	-webkit-overflow-scrolling : touch;  

}
.pi{
	position: relative;
	background-size: cover;
}
.pi_top_img{
	width: 100%;
}
.pi_top{
	width: 100%;
	height: 100%;
}
.pi_top_return{
	position: absolute;
	width: 12%;
	left: 40%;
	top: 0;
}

.pi_right
,.pi_left{
	position: absolute;	
	width: 50%;
}
.pi_right{
	right: 3%;
	top: 37%;
}
.pi_left{
	top: 70%;
	left: 5%;
}
.pi_img_01{
	width: 25%;
	float: left;
	margin: 0 3% 0 0;

	
}
.pi_h1{
	margin: 0;
	font-size: 1.6rem;
	font-family: "微软雅黑";
	color: #768379;
	line-height: 2.4rem;
	font-weight: bold;
}
.pi_span_01
,.pi_li_01{
	color: #768379;
	font-family: "微软雅黑";
	font-size: 1.2rem;
	line-height: 1.6rem;
	
}
.pi_img_02{
	float: right;
	width: 15%;

}
.pi_a_01{
	float: right;	
	font-size: 1.4rem;
	font-family: "微软雅黑";
	color: #54b564;
	text-decoration: none;
	
}
.pi_bottom{
	height: 63px;
	background-color: #cfd7cc;
}
.pi_li_01{
	text-align: center;
}

