html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
}
a {
  margin:0 0 0 0px;
  font-size:12px;
  color:#3c3c3c;
}
.swipe {
  padding-bottom:0px;
}
.swipe li div, .swipe div div div {

  font-size:20px;
  text-align:center;
}