@charset "utf-8";
/* CSS Document */

*{
   font-family: "微软雅黑", "黑体", "宋体";
}
.h_btn{
    padding: 2rem 0 ;
    text-align: center;
}
.h_btn_buy
,.h_btn_ok{
    display: inline-block;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: .3rem;
    color: white;
    border: none;
    text-align: center;
    background-color: #44d5b1;
    padding: 0 1.5rem;
    margin:0 1rem;
}
.habitus_top{
	height: 46px;
    line-height: 46px;
    text-align: center;
    color: white;
    background-image: url("../images/h_bg_top.png");
    position: relative;
    width: 100%;
    font-size: 2rem;
    letter-spacing: .5rem;
}
.h_t_img{
    width: 100%;
}
.q-top-return{
    position: absolute;
    top: 1.2%;
    left: 2%;
    width: 4.5%;
    height: 33%;
    cursor: pointer;
}
.habitus{
	min-height: 100%;
}
.h_head{
	width: 100%;
}
.mc_logo{
	width: 20%;
}
.mc_02_span{

    display:inline-block;
    height:2px;
    width:15%;
    border: 1px solid #ccc;
}
.mc_02_p3{
	margin: 0;
	text-align: right;
	line-height: 3rem;
}
.mc_foot_02{
    padding-left:5%;
    padding-right:5%;
	padding-bottom: 10%;

}
.mc_foot_02{
    padding-left:5%;
    padding-right:5%;

}
.mc_02_h1{
    margin: 0;
    padding: 5% 0;
    color: #666;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    text-align: left;
    font-weight: 500;

}

.mc_02_h2{
    text-align: right;
}
.mc_02_color_01{
    color: #fd0195;
    font-size: 2.6rem;
}

.mc_02_p1
,.mc_02_p2{
    padding: 0;
    color: #666;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    text-align: left;
    padding-bottom: 2rem;
}
.mc_02_p2{
	margin: 0;
}
.mc_foot_02 *{

    font-family: "微软雅黑", "黑体", "宋体";

}