@charset "utf-8";
body{

}
.fp_head{
    padding: 5%;
}
.fp_img_01{
    width: 60%;
}
.fp_img_02{
    width: 100%;
}
.fp_wxyd{
    position: relative;
    left: 50%;
    width: 50%;
    padding: 5% 0 5% 5% ;

}
.fp_wxyd p{
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: .5rem;
}

.fp_wxyd span
,.fp_wxyd a{
    color: white;
    font-size: 1.3rem;
    line-height: 1.5rem;

}
.fp_img_03{
    position: absolute;
    left: -85%;
    top: 10%;
    width: 75%;
}
@media (min-width: 380px) and (max-width: 600px){
    .fp_wxyd span
    ,.fp_wxyd a{

        line-height: 1.8rem;

    }
}
@media (min-width: 601px) and (max-width: 768px){

    .fp_wxyd span
    ,.fp_wxyd a{

        line-height: 2rem;

    }
}
.fp_ul_01 li{
    float: left;
    width: 50%;
    text-align: center;
    color: #4bd7b3;
    margin: 5% 0;
    font-size: 1.4rem;
    letter-spacing: .2rem;
}
.fp_ul_01 img{
    width: 50%;
}


.fp_foot{
    display: none;
}
.fp_footer{
	display: none;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: .3rem;
    line-height: 6rem;
}
.fp_content{
    padding: 5% 0;
}
#fp_img_09{
    float: left;
    width: 100%;
    margin-bottom: 5%;
}
.fp_content p{
    width: 80%;
    color: white;
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin-bottom: 8%;
}
.fp_content p img{
    margin-bottom: -1rem;
}

.fp_p_01
,.fp_p_03{
    float: left;
    text-align: left;
    padding-left: 1rem;

}
.fp_p_02{
    float: right;
    text-align: right;
    padding-right: 1rem;
}
#fp_img_10{
    width: 55.6%;
}
#fp_img_11{
    width: 75.5%;
}
#fp_img_12{
    width: 62%;
}
.fp_content span{
    line-height: 3.4rem;
}
.fp_bottom{
    background-color: white;
}
.fp_b_top{
    float: left;
    height: 100px;
    width: 100%;
}
#fp_img_13{
    float: left;
    width: 100%;
}
