<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta  />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/public.css" type="text/css" rel="stylesheet" />
<link href="css/find-us.css" type="text/css" rel="stylesheet" />
<link href="css/phone/phone-public.css" media="screen and (max-width: 769px)"  rel="stylesheet"  />
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/public.js" type="text/javascript"></script>

<title>怎样找到我们</title>
</head>

<body>
	<div class="content">
        <div class="fu">
          <!--以下是头部-->
          <div class="fu_top">
            <img class="fu_top_img" src="img/find-us/find-us_01.png"  />
            <a href="homepage.html"><img class="fu_top_return" src="img/company-introduce/company-introduce_02.png" /></a>
          </div>
          <!--以上是头部-->
          
          <!--以下是中间内容-->
          <div class="fu_content">
            <img class="fu_c_img" src="img/find-us/find-us_02.png" />
          </div>
          
          <!--以上是中间内容-->
          
        </div>
    </div>
    <!--以下是公用底部-->
    <div class="public_foot">
      <div class="p_f_head">
      	<a href="#"><img class="p_f_img_01" src="img/public/company-introduce_04.png" /></a>
        <a href="#"><img class="p_f_img_02" src="img/public/company-introduce_05.png" /></a>
        <a href="#"><img class="p_f_img_03" src="img/public/company-introduce_06.png" /></a>
      </div>
      
      <div class="p_f_foot"></div>
    </div>
    <!--以上是公用底部-->
</body>

</html>
