<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>果果哒</title>
	<meta content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
	<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/new/css/style.css">
</head>
<body>
<div class="web-main">
	<div class="web-content">
	<form action="http://www.kmark.cn/gogoda/index.php?s=addon/GuoGuoUser/Gguser/logisticDo/" method="post">
		<div class="web-header">
			<div class="top-title">配送信息</div>
		</div>
		<div class="height_10"></div>
		<div class="b-box form">
			
			<div class="form-item">
				
					<label for="input-name" class="input-label dark fl">姓名</label>
					<input type="text" class="text-right gray logistic" name='name' value="{$userData.name}" style="display:block;">
				
			</div>
			<div class="form-item">
				
					<label for="" class="input-label dark fl">电话</label>
					<input type="text" class="text-right gray logistic" name='mobile' value="{$userData.mobile}" style="display:block;">
				
			</div>
			<div class="form-item no-border">
					<label for="input-name" class="input-label dark fl">地址</label>
					<textarea class="text-right gray " name='address'  style="display:block; width:85%; line-height:20px; height:60px; text-align:left; border:1px solid #ccc;">{$userData.address}</textarea>
					
			</div>
		</div>
		<div class="button-bar">
			<button class="b-button" type="submit">确 定</button>
		</div>
		</form>
	</div>
</div>

</body>
</html>