<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>果果哒</title>
	<meta content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
	<link href="{:ADDON_PUBLIC_PATH}/new/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>

<!--以下是支付提示层-->
    <div class="touch_us">
        <div class="touch_us_01">
            <div class="tu_font">
                
            </div>
        </div>
    </div>
<!--以上是支付提示层-->



<div class="web-main">
	<div class="web-content">
		<div class="web-userinfo">
			<div class="user-name">
				<img src="{$_SESSION['gguser_head_img']}" alt="" class="avatar">
				<span class="name">{$_SESSION['gguser_nickname']}</span>
			</div>
			<div class="info-link">
			<a href="http://www.kmark.cn/gogoda/index.php?s=addon/GuoGuoUser/Gguser/membermsg/">个人信息</a>
			</div>
		</div>
		<div class="height_10"></div>
		<div class="b-box form">
			<a class="alink" href="http://www.kmark.cn/gogoda/index.php?s=addon/GuoGuoUser/Gguser/logistic/">
			<div class="form-item">
				<label for="input-name" class="input-label dark fl">我的订单</label>
					<div class="text-right gray">
						查看购买记录
					</div>
			</div>
			</a>
			<a class="alink">
			<div class="form-item" onclick="check();">
					<label for="" class="input-label dark fl">营养记录</label>
					<div class="no-letter text-right gray"></div>
			</div>
			</a>
			<a class="alink" href="http://www.kmark.cn/gogoda/index.php?s=addon/GuoGuoUser/Gguser/buy/">
			<div class="form-item no-border">
				<label for="input-name" class="input-label dark fl">立即开通</label>
					<div class="no-letter text-right gray"></div>
			</div>
			</a>
		</div>
	</div>
</div>
<script src="{:ADDON_PUBLIC_PATH}/new/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
		function check(){
			
			$('.tu_font').text('小主，该功能尚未开放,敬请期待....');
			//alert(1)
			ab();setTimeout(abcd,2000);
			
		}
		function abcd(){
			$('.touch_us').hide();
			$('.append_div').hide();
		}
		function ab(){
			$('.touch_us').show();
			$('.append_div').show();
		}
</script>
</body>
</html>