<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">

    <link href="{:ADDON_PUBLIC_PATH}/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{:ADDON_PUBLIC_PATH}/css/public.css"  rel="stylesheet" type="text/css" />
    <link href="{:ADDON_PUBLIC_PATH}/favicon.ico" rel="Shortcut  Icon"  />
    <link href="{:ADDON_PUBLIC_PATH}/css/pay_prompt.css"  rel="stylesheet" type="text/css" />
    <link href="{:ADDON_PUBLIC_PATH}/css/membercenter.css" rel="stylesheet" type="text/css"  />
    <link href="{:ADDON_PUBLIC_PATH}/css/ymd.css" rel="stylesheet" type="text/css">


    <script src="{:ADDON_PUBLIC_PATH}/js/jquery.min.js" type="text/javascript" ></script>
    <script src="{:ADDON_PUBLIC_PATH}/js/jquery.cookie.js" type="text/javascript" ></script>
    <script src="{:ADDON_PUBLIC_PATH}/js/public.js" type="text/javascript"></script>
    <script src="{:ADDON_PUBLIC_PATH}/js/membercenter.js" type="text/javascript"></script>
    <script src="{:ADDON_PUBLIC_PATH}/jqtransformplugin/jquery.jqtransform.js" type="text/javascript"  ></script>
    <title>支付确认</title>
</head>
<body class="bn">

    <div class="pay_prompt">
        <div class="pp_head">
            <img class="pp_user_img" src="{$_SESSION['gguser_head_img']}">
            <ul class="pp_ul">
                <li><span class="pp_user">{$_SESSION['gguser_nickname']}</span></li>
                <!--
                <li></li>
                -->
            </ul>
        </div>
        <div class="pp_body"></div>

        <div class="pp_content">
            <div class="pp_ts_top">
                支付确认
            </div>
            <div class="pp_ts_body">
                <p class="pp_ts_p">
                    本次交易金额:<br/>
                    <span class="pp_red">{$money}</span>元，是否确认支付?
                </p>
                <div class="pp_btn_pay" onclick="alert('小主,系统维护,暂不能支付!可电话订购:028-83389832');"">支付</div>
            </div>
        </div>

		<div style="margin-top:2.5rem;width:100%;text-align:center;font-size:.8rem;">
			<span><input type="checkbox" checked="checked" disabled="disabled" style="height:1.2rem;position:relative;top:-0.3rem;"></span>
			同意微信支付条款
		</div>	
			
        <div class="pp_right"><span></span><!-- <img class="pp_logo" src="{:ADDON_PUBLIC_PATH}/img/membercenter/logo.png" > -->
        	果果哒,最懂你的鲜果定制专家
        </div>
    </div>


   


</body>
</html>


<script type="text/javascript">

//调用微信JS api 支付
function jsApiCall()
{
	WeixinJSBridge.invoke(
		'getBrandWCPayRequest',
		{$jsApiParameters},
		function(res){
			WeixinJSBridge.log(res.err_msg);
			//alert(res.err_code+res.err_desc+res.err_msg);
		}
	);
}

function callpay()
{
	/* if (typeof WeixinJSBridge == "undefined"){
	    if( document.addEventListener ){
	        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
	    }else if (document.attachEvent){
	        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
	        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
	    }
	}else{
	    jsApiCall();
	} */
	alert("小主,系统维护,暂不能支付!可电话订购:028-83839832");
}
</script>
