@charset "utf-8";
.first_page{
    background-color: white;
    font-family: "微软雅黑", "黑体", "宋体";
}
.fp_head{
    width: 100%;
    background-color: #4bd7b3;
}
.fp_head
,.fp_footer
,.fp_content{
    background-color: #4bd7b3;
}
