@charset "utf-8";
@media screen and (max-width: 440px){
    html{ font-size: 62.5%; /* 10/16=62.5% */}
}
@media screen and (min-width: 441px) and (max-width: 564px){
    html{ font-size: 87.5%; /* 14/16=87.5% */}
}
@media screen and (min-width: 565px) and (max-width: 768px){
    html{ font-size: 100%; /* 16/16=100% */}
}
@media screen and (min-width: 769px) and (max-width: 900px){
    html{ font-size: 112.5%; /* 18/16=112.5% */}
}
@media screen and (min-width: 901px) and (max-width: 3000px){
    html{ font-size: 125%; /* 20/16=125% */}
}


*{ -moz-box-sizing:border-box;  /*适应火狐浏览器*/	-webkit-box-sizing:border-box; /*适应谷歌浏览器*/	box-sizing:border-box; padding: 0; margin: 0;}
html,body{ background-color:#f2f2f2; overflow-x:hidden; min-height: 100%; /* height: 100%;*/ /* -webkit-overflow-scrolling : touch;  */ }
body{color:#666;font-family:"宋体";}
ul,li,dl,dt,dd{list-style:none;margin:0;padding:0;}
a{text-decoration: none;}
img{border: none;}
.fl{float: left;}
.fr{float: right;}
.clear{ clear: both;}
.transparent{ color: transparent;}

.first_page
,.about_us
,.contact_way
,.vx_reserve
,.wait{
	background-color: white;
    margin: auto;
    min-width: 320px;
    max-width: 1200px;
}




.fp_nav{
	position: relative;
    padding-top: 5%;
}
.fp_nav li{
    float: left;
	padding: 40px 0;
    padding: 2rem 0;
	line-height: 40px;
    line-height: 2rem;
}

/*公用导航菜单*/
.fp_nav a{
    display: block;
	padding: 0  40px;
    padding: 0 2rem	;
	font-size: 16px;
    font-size: .8rem;
	border-left: 2px solid #ccc;
    border-left: .1rem solid #ccc;
	letter-spacing: 10px;
    letter-spacing: .5rem;
    color: #ccc;
}
.fp_nav_li_01 a{
	border-left: 2px solid transparent;
    border-left: .1rem solid transparent;
}
.fp_nav_click{
    background-color: #4bd7b3;
}
.fp_nav_hover{
    background-color: #4bd7b3;
}
.fp_nav_next a{
	border-left: 2px solid transparent;
    border-left: .1rem solid transparent;
}
.fp_nav_border a{
	border-left: 2px solid transparent;
    border-left: .1rem solid transparent;
}
.fp_nav_click a{
    color: white;
	border-left: 2px solid transparent;
    border-left: .1rem solid transparent;
}
.fp_nav li:hover a{
    color: white;
	border-left: 2px solid transparent;
    border-left: .1rem solid transparent;
}
.fp_nav li:hover{
    background-color: #4bd7b3;
}
.fp_footer{
    display: none;
}
/*公用导航菜单*/





































