@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: zhs;
	src: url('../font/zhs.TTF') format('truetype');
}

html,body{

	overflow:hidden;

}
/*
.container{
    min-width: 320px;
}
*/
body{
    background-color: #f9f9f9;
}
.swiper-slide{
	background-color:white;
}
.q-top{
	height: 29.2%;
}
.q-top-img{
	width: 100%;
	height: 100%;
}
.q-top-return{
	position: absolute;
	top: 1.2%;
	left: 2%;
	width: 4.5%;
	height: 9%;
}
.div1{
	font-family: zhs;
	}
.q-content{
    position: relative;;
    top: -5%;
	margin: auto;
	width: 80%;
	height: 57.5%;
	overflow: hidden;
	-webkit-animation: turnBig .3s linear forwards;
}
.q-h1{
    font-family:minijianyaya67562;
    margin: 0;
    padding: 7% 0;
	color: #333;
	font-size: 2rem;
	line-height: 3rem;
	text-align: center;
	letter-spacing: 0.2rem;
}
span{
    font-family:minijianyaya67562;
}
.q-u{
	width: 100%;
	cursor: pointer;
}
.q-ul li{
    padding: 5% 0;
	position: relative;
	float: left;
	font-size: 1.6rem;
	color: #666;
	line-height: 2rem;
	letter-spacing: .2rem;
	cursor: pointer;
}

.q-li-01{
	width: 50%;
	text-align: center;
}
.q-li-02{
	width: 100%;
	text-align: center;
}
.q-li-03{
	width: 100%;
	text-align: center;
}
.q-li-bg{
	position: absolute;
    z-index: 999;
    top: 50%;
	left: 50%;
    /*
	margin: -45px -55px;
	height: 90px;
	width: 110px;
	*/
	background-image: url(../img/questionary/questionary_03.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	
}

.q-foot{
	width: 100%;
	height: 13.3%;
}
.q-foot-img{
	width: 80.5%;
	height: 100%;
	-webkit-animation: turnBig .3s linear forwards;
}
.q-time{
	position: absolute;
	right: 3%;
	bottom: 1%;
	height: 42%;
	width:  8%;
	
}

.q-time p{
	
	color: #d30469;
	font-size: 1rem;
	text-align: center;
	white-space: nowrap;
}
.q-time-top
,.q-time-body
,.q-time-bottom{
	margin: auto;
	width: 50%;
	
}
.q-time-top{
	
	height: 5%;
	border-radius: 50% 50% 0 0;
	border: 1px solid #ccc;
	border-bottom: none;

}
.q-time-body{
	position: relative;
	z-index: 5;
	margin: auto;
	height: 72%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;


}
.q-time-bottom{
	position: relative;
	margin: auto;
	top: -1.4%;
	height: 15%;
	width: 100%;
	border-radius: 50%;
	border: 1px solid #ccc;

	
}


















